h1 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

form {
  text-align: center;
}

button {
  text-align: center;
}

body {
  background-color: #d54062;
  top: auto;
  display: table-cell;
  vertical-align: middle;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}